@mixin title($weight) {
    font-family: 'Work Sans', sans-serif;
    @if ($weight == 'bold') {
        font-weight: 900;
    }
    @else {
        font-weight: 400;
    }
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

@mixin burger($bottom) {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $textColor;
    bottom: $bottom;
    left: 0;
}